html, body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
* {
  box-sizing: border-box;
}

.board-wrap {
  position: relative;
  max-width: min(max(100vh, 400px), 800px);
}
.board {
  display: grid;
  user-select: none;
}
.board > .sq {
  position: relative;
}
.pc-frame {
  position: relative;
  z-index: 1;
  touch-action: none;
}
/* ??? https://css-tricks.com/almanac/properties/a/aspect-ratio/
safari sucks, aspect-ratio hack to make it square. I tried so
much stuff to get this to work
*/
.css-sq::before {
  float: left;
  padding-top: 100%;
  content: "";
}
.css-sq::after {
  display: block;
  content: "";
  clear: both;
}
.sq-inner.cover {
  background: rgba(98,153,36,0.6);
}
.sq-inner.circ {
  background: radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
}
.sq-inner.frame {
  background: radial-gradient(rgba(0,0,0,0) 79%, rgba(20,85,30,0.5) 80%);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .pc {
  position: relative;
  width: 75%;
  height: 75%;
}
/* ??? safari sucks, I can't use fit-pct everyhere because
it uses a different system for percent size, and fit-abs
doesn't always work either.
*/
.fit-abs {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
.fit-pct {
  width: 100% !important;
  height: 100% !important;
}
.pc svg, .pc svg * {
  stroke-width: 5%;
  paint-order: stroke;
}
.board .pc .w {
  color: #fff;
  stroke: #000;
}
.board .pc .b {
  color: #000;
  stroke: #fff;
}

.board .db {
  background: #b58863;
}
.board .lb {
  background: #f0d9b5;
}