html, body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  position: relative;
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* ??? safari sucks, I can't use fit-pct everyhere because
it uses a different system for percent size, and fit-abs
doesn't always work either.
*/
.fit-abs {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}
.fit-pct {
  width: 100% !important;
  height: 100% !important;
}

/* ??? https://css-tricks.com/almanac/properties/a/aspect-ratio/
safari sucks, aspect-ratio hack to make it square. I tried so
much stuff to get this to work
*/
.css-sq::before {
  float: left;
  padding-top: 100%;
  content: "";
}
.css-sq::after {
  display: block;
  content: "";
  clear: both;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
